<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Querido, <%= @user.name %></h1>
    <p>
      Dentro 15 minutos podrá asistir a su cubículo de estudio que reservó.<br>
    </p>
    <p>Gracias por usar el sistema de reservación, que tenga un buen día!</p>
  </body>
</html>