<h2>Respete a los demás, controle su volumen.</h2>
<canvas id="meter" width="500" height="50"></canvas>

<h2 id="v_alert">Cantidad de alertas actual: 0</h2>

<script src="volume-meter.js"></script>
<script src="main.js"></script>