<h1>Horas que restan</h1>


<h2>Respete a los demás, controle su volumen.</h2>
<canvas id="meter" width="500" height="50"></canvas>

<script src="volume-meter.js"></script>
<script src="main.js"></script>